<div class="blackweb login-main">
    <div id="login-form" >
		<div class="login-input">
	        <input type="text" ng-model="logininfo.email" id="email" placeholder="email">
	        <label for="email">Email</label>
	        <button class="button login-button" ng-click="signup(logininfo)">Signup</button>
	    </div><!-- 
	     --><div class="login-input">
	        <input type="password" ng-model="logininfo.password" id="login-password" placeholder="password">
	    	<label for="login-password">Password</label>
	    	<button class="button login-button" ng-click="login(logininfo)">Login</button>
	    </div>
    </div>

</div>