<div class="editor-container">

    <form class="editor-input-container">
        <legend class="title slant">Create Custom Functions</legend>
        <input class="func-text" placeholder="Name your function" type="text" ng-model="obj.name"/>
        <p><span class="var">var</span> data = {};</p>
        <p><span class="var">var</span> {{obj.name}} = {</p>
        <p><span class="var">start</span>: <span class="var">function</span>(<span class="param">nodeId</span>, <span class="param">data</span>) { </p>
        <p><div ui-ace="{theme:'dreamweaver', mode:'javascript'}" class="func-data" ng-model="obj.startText"></div></p>
        <p>}, </p>
        <p><span class="var">receive</span>: <span class="var">function</span>(<span class="param">node</span>, <span class="param">data</span>) {</p>
        <p><div ui-ace="{theme:'dreamweaver', mode:'javascript'}" class="func-data" ng-model="obj.receiveText"></div></p>
        <p class="var-data">},</p>
        <p>description:</p>
        <input class="func-text" placeholder="Describe your function" ng-model="obj.description" />
        <p>};</p>
    <div class="editor-input-group">
        <input type="button" ng-click="reset()" value="Reset" />
        <input type="submit" ng-click="createFunction(obj)" value="Save" /><br>
    </div>

    </form>

    <div class="editor-rules-container">
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    <div class="editor-saved-container">
        <crawler class="crawler-function" ng-repeat="crawler in crawlers" ng-click="editCrawler(crawler)"></crawler>
    </div>
</div>