<div class="editor-container">

    <form class="editor-input-container">
        <legend class="title slant">Create Custom Functions</legend>
        <input class="func-text" placeholder="Name your function" type="text" ng-model="obj.name"/>
        <p><span class="var">var</span> data = {};</p>
        <p><span class="var">var</span> {{obj.name}} = {</p>
        <p><span class="var">start</span>: <span class="var">function</span>(<span class="param">nodeId</span>, <span class="param">data</span>) { </p>
        <p><div ui-ace="{theme:'dreamweaver', mode:'javascript'}" class="func-data" ng-model="obj.startText"></div></p>
        <p>}, </p>
        <p><span class="var">receive</span>: <span class="var">function</span>(<span class="param">node</span>, <span class="param">data</span>) {</p>
        <p><div ui-ace="{theme:'dreamweaver', mode:'javascript'}" class="func-data" ng-model="obj.receiveText"></div></p>
        <p class="var-data">},</p>
        <p>description:</p>
        <input class="func-text" placeholder="Describe your function" ng-model="obj.description" />
        <p>};</p>
    <div class="editor-input-group">
        <input type="button" ng-click="reset()" value="Reset" />
        <input type="submit" ng-click="createFunction(obj)" value="Save" /><br>
    </div>

    </form>

    <article class="editor-rules-container">
        <h3>How to write a crawler:</h3>
        <p>Your crawler has two methods, <span class="method">start</span> and <span class="method">receive</span>, and one attribute, an object called <span class="attribute">data</span>.  Your crawler has a pending move queue (first in, first out) that will run its moves at a set rate.  We will wrap each of your crawler's methods in function notation, so you will only be writing each function's body.</p>
        <br>
        <p>Before writing a crawler you should be familiar with a few functions.</p>
        <p>Calling the following functions will allow your crawler to interact with the board:</p>
        <ul>
            <li><span class="method">attack</span>(<span class="param">source</span>, <span class="param">target</span>)</li>
            <li><span class="method">reinforce</span>(<span class="param">node</span>)</li>
        </ul>
        <p>Attack allows you to damage enemy and neutral nodes.  You cannot attack a friendly node and you cannot attack a node that isn't linked to a node that you occupy.  Invalid attacks will cause a message with type: "invalid" to be sent to your crawler's receive method.  Attack takes two strings as parameters, the ids of the source and target nodes.</p>
        <p>Reinforce allows you to heal your nodes.  You cannot heal enemy or neutral nodes.  Invalid reinforcements will also cause an "invalid" message to be sent to your crawler's receive method.  Reinforce takes one string as its parameter, the id of the node you wish to reinforce.</p>
        <p>Attack and reinforce do not have return values.  Calling attack or reinforce will add a move to your crawler's move queue.</p>
        <p>You may also use the following functions to get information about the board:</p>
        <ul>
            <li><span class="method">isEnemy</span>(<span class="param">node</span>)</li>
            <li><span class="method">isFriend</span>(<span class="param">node</span>)</li>
            <li><span class="method">isNeutral</span>(<span class="param">node</span>)</li>
        </ul>
        <p>Each of these methods takes a string, a node id, and returns true or false depending on the owner of the node.</p>
        <br>
        <p>The first method you will write is <span class="method">start</span>. Clicking on a node will call <span class="method">start</span>) and clear any moves in your crawler's pending move queue. Start is given the id of the node you clicked on as its first parameter and a reference to the crawler's <span class="attribute">data</span> object as its second.</p>
        <p>The second method <span class="method">receive</span> is called at the end of a move.</p>
        <br>
        <p>Neither attack() nor receive() have return values. However, on completion, your crawler triggers your "receive" function
            with an node containing a nodeId and either remaining health or a list of the connected nodeIds in the following format</p>
        <pre>{id: String, health: Number}</pre>
        <br>
        <pre>{id: String, links: [nodeId]}</pre>
        <hr>
        
    </article>
    <aside class="editor-saved-container">
        <crawler class="crawler-function" ng-repeat="crawler in crawlers" ng-click="editCrawler(crawler)"></crawler>
    </div>
</div>