<div class="play-container">
	<div class="sidebar">
		<div id="threads" class="side-container">
			<h3 class="side-title">Threads</h3>
			<hr>
			<button class="game-control" ng-click="setThread(0)">Thread 1</button>
			<button class="game-control" ng-click="setThread(1)">Thread 2</button>
			<button class="game-control" ng-click="stopThread()">Stop</button>
		</div>
		<div id="crawlers" class="side-container">
			<h3 class="side-title">Crawlers</h3>
			<hr>
			<button class="game-control" ng-repeat="crawler in crawlers track by $index" ng-click="setCrawler($index)">{{crawler.name}}</button>
		</div>
	</div>
    <game class="game"></game>
</div>
