.button {
   border: 1px solid darken(#e9e9e9, 30%);
   background: #e9e9e9;
   background: -webkit-gradient(linear, left top, left bottom, from(#c0c0c0), to(#e9e9e9));
   background: -webkit-linear-gradient(top, #c0c0c0, #e9e9e9);
   background: -moz-linear-gradient(top, #c0c0c0, #e9e9e9);
   background: -ms-linear-gradient(top, #c0c0c0, #e9e9e9);
   background: -o-linear-gradient(top, #c0c0c0, #e9e9e9);
   background-image: -ms-linear-gradient(top, #c0c0c0 0%, #e9e9e9 100%);
   padding: 0.5em 1.5em;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #3d373d;
   font-size: 1em;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #0a3c59;
   text-shadow: #54819e 0 1px 0;
   background: #d7d7f5;
   background: -webkit-gradient(linear, left top, left bottom, from(#c0c0c0), to(#d7d7f5));
   background: -webkit-linear-gradient(top, #c0c0c0, #d7d7f5);
   background: -moz-linear-gradient(top, #c0c0c0, #d7d7f5);
   background: -ms-linear-gradient(top, #c0c0c0, #d7d7f5);
   background: -o-linear-gradient(top, #c0c0c0, #d7d7f5);
   background-image: -ms-linear-gradient(top, #c0c0c0 0%, #d7d7f5 100%);
   color: #332a33;
   }
.button:active {
   text-shadow: #7ea4bd 0 1px 0;
   border: 1px solid #0a3c59;
   background: #e9e9e9;
   background: -webkit-gradient(linear, left top, left bottom, from(#c0c0c0), to(#d7d7f5));
   background: -webkit-linear-gradient(top, #c0c0c0, #e9e9e9);
   background: -moz-linear-gradient(top, #c0c0c0, #e9e9e9);
   background: -ms-linear-gradient(top, #c0c0c0, #e9e9e9);
   background: -o-linear-gradient(top, #c0c0c0, #e9e9e9);
   background-image: -ms-linear-gradient(top, #c0c0c0 0%, #e9e9e9 100%);
   color: #3d373d;
   }

.button.login-button{
	border-radius: 2px;
}