//Anchor
$visitedLink: white;

//Editor
$editor-background-color: #000;
	//borders
$editor-rules-container: blue;
$editor-saved-container: red;
$editor-input-container: yellow;

//Home
$home-opac: 0.6;

//Navbar
$nav-opac: 0.6;
$item-bg: black;

//Play-container
$game-border: white;
$game-bg: #000;

//Sidebar
$sidebar-bg: #555;
$button: #000;
$active-button: #fff;
$side-title: #fff;
