//Anchor
$visitedLink: #e9e9e9;

//Editor
$editor-background-color: #222;
$editor-opac: 0.1;
	//borders
$editor-rules-container: #5d6162;
$editor-input-container: #5d6162;
$editor-var: #0000ff;
$editor-param: #0066ff;


//Home
$home-opac: 0.6;
$home-gray: #333;

//Navbar
$item-color: #e9e9e9;
$nav-texture: url("asset/green_cup_darker.png");

//Play-container
$game-bg: url("asset/fog.jpg");
$board-bg: url("asset/congruent_lightblue.png");

//Sidebar
$sidebar-bg: url("asset/green_cup_darkgray.png");
$button: #5d6162;
$active-button: #e9e9e9;
$side-title: #f3fdff;

