
@import 'vendor-prefixes.scss';
@import "colors";

 //black

.editor-container {
  background-image: $sidebar-bg;
  color: invert($editor-background-color);
  text-shadow: 1px 1px #333;
  min-height: 93vh;
  height: auto;
  width: 100%;
  @include prefix(flex-flow, "row wrap");
  @include prefix(display, flex);
  @include prefix(align-self, stretch);

  p{
    margin: 0px;
  }
}

.editor-input-container {
  //for its children
  @include prefix(display, flex);
  @include prefix(flex-flow, "column wrap");

  margin: 2%;
  padding: 1em 1%;
  border: 1px $editor-input-container solid;
  background-color: rgba(38, 38, 38, 0.1);
  border-radius: 10px;
  width: 56vw; 
  @include prefix(align-self, self);

}

.editor-container .title{
  font-size:1.5em;
  text-shadow: 1px 1px #333;

}


// if row
// align-content = cross axis
// justify-content = main axis
.editor-rules-container {
  margin: 2%;
  width: 30%;
  border: 1px $editor-rules-container solid;
  background-color: rgba(38, 38, 38, 0.1);
  border-radius: 10px;
  display: flex;
  @include prefix(flex, "0 1 auto");
  @include prefix(align-self, stretch);
  //width:30%;

}

.editor-saved-container {
  display: flex;
  @include prefix(flex-flow, "row wrap");
  margin: 2%;
  @include prefix(flex, "0 1 auto");
  @include prefix(justify-content, flex-start);
  width: 100%;
}

.func-data {
  margin-left: 5%;
  width: 89%;
  height: 40px;
  rows: 60;
  cols: 50;
  min-height: 150px;
  font-size: 1em;
}

.var{
  color: desaturate($editor-var, 20%);
}

.param{
  color: desaturate($editor-param, 20%);
}

.func-text {
  margin: 0 5%;
  display: block;
  font-size: 1em;
  width: 89%
}


