
@import 'vendor-prefixes.scss';
@import "colors";

 //black

.editor-container {
  background-image: $sidebar-bg;
  color: invert($editor-background-color);
  text-shadow: 1px 1px #333;
  min-height: 93vh;
  height: auto;
  width: 96vw;
  padding: 2vw;
  @include prefix(flex-flow, "row wrap");
  @include prefix(display, flex);
  @include prefix(align-self, stretch);

  p{
    margin: 0px;
  }
}

.editor-input-container {
  //for its children
  @include prefix(display, flex);
  @include prefix(flex-flow, "column wrap");
  width: 56%; 
  @include prefix(align-self, self);

}

.editor-container .title{
  font-size:1.5em;
  text-shadow: 1px 1px #333;

}

.editor-intro{
  height: 30vh;
  overflow: scroll;
  h3{
    margin: 0;
  }
}

.editor-content{
  margin: 1%;
  border: 1px $editor-rules-container solid;
  background-color: rgba(38, 38, 38, 0.2);
  border-radius: 10px;
  padding: 1em 1%;
}


// if row
// align-content = cross axis
// justify-content = main axis
.editor-rules-container {
  width: 35.6%;
}

.editor-saved-container {
  display: flex;
  @include prefix(flex-flow, "row wrap");
  @include prefix(flex, "0 1 auto");
  @include prefix(justify-content, flex-start);
  width: 100%;
}

.func-data {
  margin-left: 5%;
  width: 89%;
  height: 40px;
  rows: 60;
  cols: 50;
  min-height: 150px;
  font-size: 1em;
  text-shadow: none;
}

.invalid{
  color: lighten(#ff0000, 30%);
}

.var, .method{
  color: lighten(desaturate($editor-var, 20%), 40%);
}

.param, .attribute{
  color: lighten(desaturate($editor-param, 20%), 40%);
}

.func-text {
  margin: 0 5%;
  display: block;
  font-size: 1em;
  width: 89%
}


