
@import 'vendor-prefixes.scss';

$font-stack: Droid Sans, sans-serif;
$background-color: #000; //black

.editor-container {
  background-color: $background-color;
  border: 1px white solid;
  color: white;
  font-family: $font-stack;
  height: 90vh;
  width: 100vw;
  @include prefix(flex-flow, "row wrap");
  @include prefix(display, flex);
  @include prefix(align-content, flexstart);

}

.editor-input-container {
  //for its children
  @include prefix(display, flex);
  @include prefix(flex-flow, "column wrap");

  //@include prefix(align-items, center);
  margin: 2%;
  border: 1px yellow solid;
  width: 50%; //border-bottom: 1px white solid;
  @include prefix(align-self, stretch);
  @include prefix(align-items, stretch);
  @include prefix(flex, "2 2 40%");

}

// if row
// align-content = cross axis
// justify-content = main axis
.editor-rules-container {
  margin: 2%;
  width: 30%;
  border: 1px blue solid;
  display: flex;
  @include prefix(flex, "1 1 30%");
  @include prefix(align-self, stretch);
  //width:30%;

}
.editor-rules-container input{
  @include prefix(flex, "1 1 50%");
  @include prefix(align-self, center);
  width:50%;
}

.editor-saved-container {
  @include prefix(display, flex);
  @include prefix(flex-flow, "row wrap");
  margin: 2%;
  border: 1px red solid;
  @include prefix(flex, "3 3 100%");
  @include prefix(align-self, stretch);
  @include prefix(justify-content, flex-start);
  width: 100%;
  //min-width: 480px;
  //@include prefix(flex-basis, 75%);
  //@include prefix(flex-grow,3);
}

.pre{
  @include prefix(flex, "1 0 auto%");
}
.var-data {
  margin-left:5%;
}

.func-data {
  margin-left:10%;
  @include prefix(align-self, center);
  @include prefix(flex, "3 3 60%");
  width:60%;
  height:50%;
  rows:30;
  cols:50;
  min-height:100px;
  font-size:1em;

}

