@import 'vendor-prefixes.scss';
$nodeRadius: 13;
$baseRadius: 39;
$pulseStrokeWidth:7;
$pulseStrokeColor:purple;
$pi: 3.14159265359;
$nodeToBaseFactor: 3;
$nodeSelectedOffSet: 3;
$attackEdgeStroke: red;
$selectedStrokeWith: 3;

line {
	transition: stroke-dasharray 3s linear;
}

.sigma-node {
  transition: stroke-dashoffset 0.2s linear, fill 0.2s linear,r 0.2s linear;
}

.pulse {
	r: ($nodeRadius - 5);
}

.attackEdgeF {
	stroke: $attackEdgeStroke;
	-webkit-animation:attack 0.3s linear 1;
}

.attackEdgeB {
	stroke: $attackEdgeStroke;
	-webkit-animation:attack 0.3s linear 1 reverse;
}

@-webkit-keyframes attack {
	from {
		stroke-dasharray: 20, 1000;
		stroke-dashoffset: 10;
	}
	to {
		stroke-dasharray: 20, 1000;
		stroke-dashoffset: -100;
	}
}

@function getDashArrayLength($radius){
  @return $radius + ($radius * 0.60)
}
@function getDashArrayOffset($radius, $divisor, $dashArrayLength) {
  @return (((2 * $pi * $radius) / $divisor) - ($dashArrayLength * 0.51))

}

.selected-node {
    r: ($nodeRadius + $selectedStrokeWith);
    fill-opacity: 0;
    stroke: $pulseStrokeColor;
    stroke-width: ($selectedStrokeWith * 3);
	stroke-dasharray: getDashArrayLength($nodeRadius), getDashArrayOffset($nodeRadius, 5.5, getDashArrayLength($nodeRadius));
  	-webkit-animation: node-spinner 50s linear infinite;
}

.selected-base-node {
	r: ($baseRadius + ($nodeSelectedOffSet * $nodeToBaseFactor));
	fill-opacity:0;
  	stroke:$pulseStrokeColor;
	stroke-width: ($selectedStrokeWith * 3);
	stroke-dasharray: getDashArrayLength($baseRadius), getDashArrayOffset($baseRadius, 5.5, getDashArrayLength($baseRadius));


	-webkit-animation: base-spinner 50s linear infinite;
}

@-webkit-keyframes node-spinner{
  from{
	stroke-dashoffset: (getDashArrayOffset($nodeRadius, 5.5, getDashArrayLength($nodeRadius)) * 100);
	fill-opacity:0;
  }

  to {
	stroke-dashoffset: 0;
	fill-opacity:0;
  }
}

@-webkit-keyframes base-spinner{
  from{
	stroke-dashoffset: (getDashArrayOffset($baseRadius, 5.5, getDashArrayLength($baseRadius)) * 100);
	fill-opacity:0;
  }
  to {
	stroke-dashoffset: 0;
	fill-opacity:0;
  }
}


