@import "colors";

.blackweb {
  background-image: url('asset/congruent_lightblue.png');
  opacity: $home-opac;
  z-index: -1;
  margin: 0;
  height: 93vh;
}

.title-box{
  position: relative;
  top: 13vh;
  height: 60vh;
  width: 90vw;
  margin: 0 4vw 0 6vw;
}

.logo{
  display: inline-block;
  width: 30vw;
  height: 60vh;
  background-image: url("asset/anansi-gray.png");
  background-size: 60vh;
}

.game-title{
  position: relative;
  display: inline-block;
  width: 50vw;
  height: 30vh;
  font-size: 28vh;
  font-style: italic;
  top: -20vh;
  padding: 0 5vw;
  span{
    height: 30vh;
    vertical-align: middle;

  }
}

//
