@import "colors";

.blackweb {
  background-image: url('asset/congruent_lightblue.png');
  z-index: -1;
  margin: 0;
  height: 93vh;
}

.title-box{
  position: absolute;
  display: flex;
  top: 13vh;
  left: 5vw;
  height: 60vh;
  width: 90vw;
  margin: 0 4vw 0 6vw;
  color: $home-gray;
}

.logo{
  display: inline-block;
  width: 60vh;
  height: 60vh;
}

.game-title{
  position: relative;
  display: inline-block;
  width: 50vw;
  height: auto;
  font-size: 15vw;
  font-style: italic;
  top: 4vh;
  padding: 0 3vw;
  span{
    height: 30vh;
    text-shadow: 1px 1px #fff;
  }
}

.shadowed {
    -webkit-filter: drop-shadow(1px 1px 1px rgba(255,255,255,1));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#fff')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#fff')";
}

//
