.login-main{
	padding: 20vh;
}

#login-form{
	width: 46vw;
	padding: 1vh 2vw; 
	margin: 0 auto;
	text-align: center;
	label{
		display: block;
		text-align: right;
		font-size: 0.5em;
	}
	input{
		display: block;
		width: 98%;
		margin: 0 0 0 auto;
	}
}

.login-input{
	display: inline-block;
	width: 48%;
	position: relative;
	margin: 0 1%;
}

button.button.login-button{
	width: 100%;
	margin: 0 auto;
}

