@import "anchor";
@import "navbar";
@import "play-container";
@import "editor";
@import "crawler";
@import "home";
@import "animate";

.clearfix {
  overflow: auto;
  zoom: 1;
}

.appBody {
	position: relative;
	top: 5vh;
}
