@import "anchor";
@import "navbar";
@import "play-container";
@import "editor";
@import "crawler";
@import "home";
@import "animate";
@import "sidebar";
@import "login.scss";
@import "buttons.scss";
@import "game.animations.scss";


.clearfix {
  overflow: auto;
  zoom: 1;
}

.appBody {
	position: relative;
	height: auto;
	min-height: 93vh;
}

body{
	font-family: "Open Sans", sans-serif;
	height: 100vh;
}

.title-font{
	font-family: "Marck Script";
}

.slant{
	font-style: italic;
}

line {
	transition: stroke-dasharray 3s linear;
}

.sigma-node {
  transition: stroke-dashoffset 0.2s linear;
}

circle {
	transition: fill 0.2s linear,r 0.5s linear;
}

*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a{
	outline: 0;
	&:hover{
		outline: 0;
	}
	&:active{
		outline: 0;
	}
	&:focus{
		outline: 0;
	}
}


.attackEdgeF {
	stroke: red;
	-webkit-animation:attack 0.3s linear 1;
}

.attackEdgeB {
	stroke: red;
	-webkit-animation:attack 0.3s linear 1 reverse;
}

@-webkit-keyframes attack {
	from {
		stroke-dasharray: 20, 1000;
		stroke-dashoffset: 10;
	}
	to {
		stroke-dasharray: 20, 1000;
		stroke-dashoffset: -100;
	}
}




















