@import "colors";
@import 'vendor-prefixes.scss';
  
.nav-shadow{
  height: 7vh;
}

.navbar {
  position: fixed;
  background-image: $nav-texture;
  z-index: 10;
  width: 100%;
  height: 7vh;
  box-shadow: 0px 1px 1px #000;

  .item {
    color: $item-color;
    list-style-type: none;
    display: inline-block;
    padding: 0.5em 2em 0.5em 2em;
    font-size: 2.75vh;
    text-align: center;
    height: calc(5vh - 1em - 2px);
    a{
      color: $item-color;
      text-shadow: 1px 1px #000;
    }
    a:visited{
      color: $item-color;
    }
  }

  .nav-left{
    float: left;
  }

  .nav-right{
    float: right;
  }

  .nav-space{
    width: 2vw;
    padding: 0;
  }

}

.title-logo{
  font-size: 3.5vh;
}

.logo-message{
  font-size: 2vh;
}

.title{
  font-size: 110%;
  @include prefix(flex, '0 1 auto');
}




