
@import 'vendor-prefixes.scss';


.container {

}

.navbar {
//  position: fixed;
  //top: 0;
  z-index: 1;
  font-family: 'Droid Sans', sans-serif;
  //background-color: #555;
  width: 100%;
  //margin: 0 auto;
  opacity: 0.60;
  @include prefix(display, flex);
  @include prefix(flex-fow, 'row wrap');
  @include prefix(justify-content, center);
  @include prefix(align-items, flex-start);
  @include prefix(align-contents, flex-start);

  .item {
    background-color:black;
    color:white;
    list-style-type: none;
    //margin: 0 auto;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    padding: 0.5em 2em 0.5em 2em;
    font-size: 110%;
    text-align:center;
    height: calc(5vh - 1em);
    @include prefix(align-self, stretch);
    @include prefix(flex, '1 1 150px');

  }

}


.title{
  font-size: 110%;
  @include prefix(flex, '0 1 auto');
}




