@import "colors";

.play-container {
  @include prefix(justify-content, center);
  width: 100%;
  margin: 0 auto;
  height: 93vh;
  display: flex;
}


.game {
  position: relative;
  width: 80%;
  height: 93vh;
  text-align: left;
  overflow: scroll;
}

.background{
  background-image: $game-bg;
  z-index: -2;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 4000px;
  height: 3000px;
}

#fogmask circle{
  
}

#container {
  width: 100%;
  overflow: scroll;
}

#gameBoard{
  background-image: $board-bg;
}
