@import "colors";

.play-container {
  @include prefix(justify-content, center);
  width: 100%;
  margin: 0 auto;
  height: 93vh;
  display: flex;
}


.game {
  position: relative;
  width: 80%;
  height: 93vh;
  text-align: left;
  overflow: scroll;
}

.background{
  background-image: $game-bg;
  z-index: -2;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 4000px;
  height: 3000px;
}

#loadingClip rect{
  filter: url(#filter-map);
}

#loading{
  position: absolute;
  left: calc(60vw - 200px);
  top: calc(40% - 102px);
  text-align: center;
  h2{
    margin: 0;
    font-style: italic;
    color: $item-color;
    text-shadow: 1px 1px invert($item-color);
  }
}

#container {
  width: 100%;
  overflow: scroll;
}

#gameBoard{
  background-image: $board-bg;
}
