@import "colors";
@import 'vendor-prefixes.scss';

.sidebar {
  width: 20vw;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  height: calc(93vh - 250px);
  background-image: $sidebar-bg;
  hr{
  	width: 90%;
  	margin: 0px auto 6px;
  }
}

.side-container{
	width: 80%;
	padding: 0 10%;
	margin: 1em 0em;
	display: block;
	text-align: left;
	h3{
		color: lighten($item-color, 10%);
		text-shadow: 1px 1px #000;
		margin: 0px;
		padding: 2px;
		font-style: italic;
	}
}

.side-title{
	color: $side-title;
}

.game-control{
	&.active{
		background-color: $active-button;
		color: invert($active-button);
	}
	background-color: $button;
	color: invert($button);
	width: 100%;
	display: block;
	margin: 0 auto;
	&:focus{
		outline: 0;
	}
}